{% extends "layout.html" %}
{% block body %}
    <!-- Maps -->  <!-- Melissa's Section-->
    <div class="map">

    </div>

    <!-- Forms --> <!-- Elaine's Section -->
    <!-- Textfield with Floating Label -->
    <div class="container">
      <form action="#">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3" style="text-align: center">First Name: </label>
        </div>
        <br>
  
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3" style="text-align: center">Last Name: </label>
        </div>
        <br>
  
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3" style="text-align: center">Email: </label>
        </div>
        <br>
      </form>
    </div>
    
{% endblock %}