{% extends "layout.html" %}
{% block body %}
    <!-- Forms --> <!-- Elaine's Section -->
    <!-- Textfield with Floating Label -->
    <div class="container">
      <form action="#">
        <h4 style="text-align: center">Accessibility Information</h4>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3" style="text-align: center">Building: </label>
        </div>
        <br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="sample3">
          <label class="mdl-textfield__label" for="sample3" style="text-align: center">Address: </label>
        </div>
        <br>

        <hr>

        <h4 style="text-align: center">Inside the Building</h4>

        <div>
        <h5>Elevators</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="elevator-1">
            <input type="radio" id="elevator-1" class="mdl-radio__button" name="elevator" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="elevator-2">
            <input type="radio" id="elevator-2" class="mdl-radio__button" name="elevator" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="elevator-3">
            <input type="radio" id="elevator-3" class="mdl-radio__button" name="elevator" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Accessible Bathrooms</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bathrooms-1">
            <input type="radio" id="bathrooms-1" class="mdl-radio__button" name="bathrooms" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bathrooms-2">
            <input type="radio" id="bathrooms-2" class="mdl-radio__button" name="bathrooms" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="bathrooms-3">
            <input type="radio" id="bathrooms-3" class="mdl-radio__button" name="bathrooms" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Accessible Desks</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="desks-1">
            <input type="radio" id="desks-1" class="mdl-radio__button" name="desks" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="desks-2">
            <input type="radio" id="desks-2" class="mdl-radio__button" name="desks" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="desks-3">
            <input type="radio" id="desks-3" class="mdl-radio__button" name="desks" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Wide Hallways for Wheelchairs</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="wheelchairs-1">
            <input type="radio" id="wheelchairs-1" class="mdl-radio__button" name="wheelchairs" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="wheelchairs-2">
            <input type="radio" id="wheelchairs-2" class="mdl-radio__button" name="wheelchairs" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="wheelchairs-3">
            <input type="radio" id="wheelchairs-3" class="mdl-radio__button" name="wheelchairs" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Handrails</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="handrails-1">
            <input type="radio" id="handrails-1" class="mdl-radio__button" name="handrails" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="handrails-2">
            <input type="radio" id="handrails-2" class="mdl-radio__button" name="handrails" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="handrails-3">
            <input type="radio" id="handrails-3" class="mdl-radio__button" name="handrails" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Benches/Seating</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="seating-1">
            <input type="radio" id="seating-1" class="mdl-radio__button" name="seating" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="seating-2">
            <input type="radio" id="seating-2" class="mdl-radio__button" name="seating" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="seating-3">
            <input type="radio" id="seating-3" class="mdl-radio__button" name="seating" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>
        <hr>

        <h4 style="text-align: center">Outside the Building</h4>

        <div>
        <h5>Ramps</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ramps-1">
            <input type="radio" id="ramps-1" class="mdl-radio__button" name="ramps" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ramps-2">
            <input type="radio" id="ramps-2" class="mdl-radio__button" name="ramps" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="ramps-3">
            <input type="radio" id="ramps-3" class="mdl-radio__button" name="ramps" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Automatic Doors</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="doors-1">
            <input type="radio" id="doors-1" class="mdl-radio__button" name="doors" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="doors-2">
            <input type="radio" id="doors-2" class="mdl-radio__button" name="doors" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="doors-3">
            <input type="radio" id="doors-3" class="mdl-radio__button" name="doors" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Handrails</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="handrail-1">
            <input type="radio" id="handrail-1" class="mdl-radio__button" name="handrail" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="handrail-2">
            <input type="radio" id="handrail-2" class="mdl-radio__button" name="handrail" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="handrail-3">
            <input type="radio" id="handrail-3" class="mdl-radio__button" name="handrail" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Benches/Seating</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="seats-1">
            <input type="radio" id="seats-1" class="mdl-radio__button" name="seats" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="seats-2">
            <input type="radio" id="seats-2" class="mdl-radio__button" name="seats" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="seats-3">
            <input type="radio" id="seats-3" class="mdl-radio__button" name="seats" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Accessible Parking Spaces</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="parking-1">
            <input type="radio" id="parking-1" class="mdl-radio__button" name="parking" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="parking-2">
            <input type="radio" id="parking-2" class="mdl-radio__button" name="parking" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="parking-3">
            <input type="radio" id="parking-3" class="mdl-radio__button" name="parking" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>

        <div>
        <h5>Smooth/Even Sidewalks</h5>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="sidewalks-1">
            <input type="radio" id="sidewalks-1" class="mdl-radio__button" name="sidewalks" value="1" checked>
            <span class="mdl-radio__label">Yes</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="sidewalks-2">
            <input type="radio" id="sidewalks-2" class="mdl-radio__button" name="sidewalks" value="2">
            <span class="mdl-radio__label">No</span>
          </label>
          <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="sidewalks-3">
            <input type="radio" id="sidewalks-3" class="mdl-radio__button" name="sidewalks" value="3">
            <span class="mdl-radio__label">Unsure</span>
          </label>
        </div>
      </form>
    </div>

    <!--To do: make chat bot-->
{% endblock %}