{% block body %}
    <!-- Maps -->  <!-- Melissa's Section-->
    <!-- Check Ylan for repository clone-->

    <!-- Forms --> <!-- Elaine's Section -->
    %systemdrive%%homepath%\my-venv\Scripts\activate.bat<form method="post">
        <p>
            First Name: <input type="text" name="First Name" value="" size="25" maxlength="50" />
        </p>

        <p>
            Last Name: <input type="text" name="Last Name" value="" size="25" maxlength="50" />
         </p>
        
        <p>
            Email: <input type="text" name="Email" value="" size="25" maxlength="50" />
        </p>
        <p>
            <input type="submit" name="submit" value="Submit" />
        </p>

    </form> 
    
{% endblock %}